{% set title = "Glowrift" %}

{% extends "layouts/base.njk" %}

{% block content %}
  {% include "hero.njk" %}
  {% include "seasonal-tools.njk" %}
  {% include "how-it-works.njk" %}
  {% include "testimonial-strip.njk" %}
  {% include "cta.njk" %}
{% endblock %}
