<!-- glowrift.app index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glowrift</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon/favicon-16x16.png">
<link rel="shortcut icon" href="/assets/images/favicon/favicon.ico">
<link rel="apple-touch-icon" href="/assets/images/favicon/apple-touch-icon.png">
<link href="assets/styles/output.css" rel="stylesheet">
</head>
<body class="bg-gradient-to-b from-black via-sunset to-white text-white font-sans">

  {% include "header.njk" %}
  {% include "hero.njk" %}
  {% include "footer.njk" %}

</body>
</html>